<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>CloudQ</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <a href="/"><img src="/img/logo.png" width="450" height="203" alt="CloudQ: Run Qunit tests in the cloud!"></a>

      <%- body %>

      <p class="footer">
        Brought to you by <a href="http://nodeknockout.com/teams/team-discovery-channel">Team Discovery Channel</a> <br />
        <a href="http://www.twitter.com/designsense">@designense</a>, <a href="http://www.twitter.com/bentlegen">@bentlegen</a>, and <a href="http://www.twitter.com/benjamincoe">@benjamincoe</a>
      </p>
    </div>

    <a href="http://nodeknockout.com/teams/team-discovery-channel" target="nko" title="Help me win Node.js KO!"><img style="position: fixed; top: 5px; right: 5px; border: 0px;" src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" /></a>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
      $(function() {
        $('.test-result-toggle').click(function() {
          $(this).siblings('.inner-box').toggle();
          return false;
        });
        
        $('#web-hook-toggle').bind('click', function() {
            $('#webhook').toggle();
            return false;
        });
        
        $('#create-github-link').bind('click', function() {
            if (url && $('#twitter-handle').val() > '') {
                var hook = url + '/hooks/github/' + $('#twitter-handle').val();
                $('#hook').val(hook);
            }
            return false;
        });
      });
    </script>
  </body>
</html>