<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>CloudQ</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <img src="/img/logo.png" width="450" height="203" alt="CloudQ: Run Qunit tests in the cloud!">

      <%- body %>

      <p class="footer">
        Brought to you by <a href="http://nodeknockout.com/teams/team-discovery-channel">Team Discovery Channel</a> <br />
        <a href="http://www.twitter.com/designsense">@designense</a>, <a href="http://www.twitter.com/bentlegen">@bentlegen</a>, and <a href="http://www.twitter.com/benjamincoe">@benjamincoe</a>
      </p>
    </div>
  </body>
</html>