/* RESET STYLES FROM BLUEPRINT */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}


/* OPTIMIZATION FOR BROWSER QUIRKS */

html { overflow-y: scroll; } /* Forces a vertical scrollbar in Mozilla */
img { -ms-interpolation-mode: bicubic; } /* Makes IE scale images smoothly */
a:active, a:focus { outline: none; } /* Disables the dotted outline FireFox puts on active links */


/* CONTAINER */
.container {
	width: 450px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

html {
  height: 100%;
}
body {
 	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	height: 100%;
	background: #aadbf7 url('/img/background.png') repeat-x;
}


/* OUTER BOX */
.outer-box {
  background: #8ac6e9;
  margin: 27px 0;
  overflow: hidden;
  border: solid 1px #548fb2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  behavior: url("ie/PIE.htc");
  }
  .outer-box-inset {
    padding: 14px 18px 18px 18px;
    -webkit-box-shadow: inset 1px 1px 3px #5b9dc3;
    -moz-box-shadow: inset 1px 1px 3px #5b9dc3;
    box-shadow: inset 1px 1px 3px #5b9dc3;
    position: relative;
  }

  .outer-box.green {
    background: #c3e77e;
    border: solid 1px #8daf51;
  }
    .outer-box.green .outer-box-inset {
      -webkit-box-shadow: inset 1px 1px 3px #9db961;
      -moz-box-shadow: inset 1px 1px 3px #9db961;
      box-shadow: inset 1px 1px 3px #9db961;
    }
  .outer-box.red {
    background: #e25252;
    border: solid 1px #8b3333;
  }
    .outer-box.red .outer-box-inset {
      -webkit-box-shadow: inset 1px 1px 3px #a93737;
      -moz-box-shadow: inset 1px 1px 3px #a93737;
      box-shadow: inset 1px 1px 3px #a93737;
    }

/* INNER BOX */
.inner-box {
  background: #ffffff;
  overflow: hidden;
  border: solid 1px #4384aa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.45);
  behavior: url("ie/PIE.htc");

  color: #474747;
  margin-top: 4px;
}
  .inner-box-inset {
    padding: 10px;
    -webkit-box-shadow: inset 1px 1px 3px #b7d6e8;
    -moz-box-shadow: inset 1px 1px 3px #b7d6e8;
    box-shadow: inset 1px 1px 3px #b7d6e8;
  }

  .outer-box.red .inner-box {
    border: solid 1px #931919;
  }
    .outer-box.red .inner-box-inset {
      -webkit-box-shadow: inset 1px 1px 3px #e8b7b7;
      -moz-box-shadow: inset 1px 1px 3px #e8b7b7;
      box-shadow: inset 1px 1px 3px #e8b7b7;
    }
  .outer-box.green .inner-box {
    border: solid 1px #96b95a;
  }
    .outer-box.green .inner-box-inset {
      -webkit-box-shadow: inset 1px 1px 3px #dbe8b7;
      -moz-box-shadow: inset 1px 1px 3px #dbe8b7;
      box-shadow: inset 1px 1px 3px #dbe8b7;
    }

/* FORMS */
label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 4px;
  padding-top: 4px;
}

input {
  width: 324px;
  margin-right: 20px;
  outline: none;
  border: none;
  background: url("/img/input.png") no-repeat;
  height: 25px;
  font-size: 16px;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  padding: 10px 80px 10px 10px;
}

.button {
  display: block;
  height: 32px;
  width: 65px;
  background: url("/img/button.png") no-repeat;
  position: absolute;
  top: 50px;
  right: 22px;
}
  .button:hover {
    background: url("/img/button.png") 0px -32px no-repeat;
  }
  .button:active {
    background: url("/img/button.png") 0px -64px no-repeat;
  }
.button + .inner-box {
  margin-top: 18px;
}


/* TESTS */
.tests {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: -5px;
}
  .tests li {
    margin: 5px 0px;
  }
  .tests .header,
  .tests .header:hover {
    font-weight: bold;
    margin-top: 9px;
    padding: 5px;
    color: #474747;
    cursor: default;
  }
  .tests .passed {
    background: #f3ffd2;
    color: #6e803c;
    padding: 5px;
  }
  .tests .failed {
    background: #ffe9e9;
    color: #803d3d;
    padding: 5px;
  }


ws, strike, del {
  text-decoration: line-through;
}
ins {
  background-color: #ffff6e;
  text-decoration: none;
}



/* FOOTER */
.footer {
  font-size: 12px;
  color: #1f648b;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  line-height: 18px;
  padding: 20px 0 0 0;
}
a, a:visited, a:active {
  color: #1f648b;
}
  a:hover {
    color: #0f415d;
  }


/* HEADERS */
.header{
  overflow: auto;
  cursor: pointer;
}
  .header:hover {
    color: #ffffd1;
  }
  .header .toggle-open {
    display: block;
    float: left;
    width: 16px;
    height: 15px;
    background: url('/img/toggle.png') 0px 0px no-repeat;
    margin: 7px 6px 0 0;
  }
    .header:hover .toggle-open {
      background: url('/img/toggle.png') -16px 0px no-repeat;
    }
  .header .toggle-close {
    display: block;
    float: left;
    width: 16px;
    height: 15px;
    background: url('/img/toggle.png') 0px -15px no-repeat;
    margin: 7px 6px 0 0;
  }
    .header:hover .toggle-close {
      background: url('/img/toggle.png') -16px -15px no-repeat;
    }
  .header .title {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    padding-top: 4px;
    float: left;
  }
  .header .score {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    padding-top: 4px;
    float: right;
  }





/* TITLEBAR */
.titlebar {
  background: #75b7de;
  border-top: solid 1px #6099ba;
  border-bottom: solid 1px #6099ba;
  margin-bottom: -30px;
  -webkit-box-shadow:
      0px 1px 0px #c4e4f6,
      inset 0px 2px 2px #66a8cf;
  -moz-box-shadow:
      0px 1px 0px #c4e4f6,
      inset 0px 2px 2px #66a8cf;
  box-shadow:
      0px 1px 0px #c4e4f6,
      inset 0px 2px 2px #66a8cf;
  behavior: url("ie/PIE.htc");
}
  .titlebar .container {
    padding: 18px 0;
  }
  .titlebar p {
    margin: 9px 0;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
  }
  .titlebar a {
    color: #fffeb8;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
  }

  .titlebar .cronos {
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin-right: 10px;
  }

  .titlebar .button2 {
    display: inline-block;
    height: 32px;
    width: 80px;
    background: url("/img/button2.png") no-repeat;
    margin-top: 3px;
  }
    .titlebar .button2:hover {
      background: url("/img/button2.png") 0px -32px no-repeat;
    }
    .titlebar .button2:active {
      background: url("/img/button2.png") 0px -64px no-repeat;
    }



