<h2>Test Results for ... ???</h2>
<% for (var i = 0, test; (test = test_results.output[i]) != null; i++) { %>

    <h3><%= test.name %></h3>

    <% for (var j = 0, assertion; (assertion = test.tests[j]) != null; j++) { %>

        <% if (assertion.result) { %>
            <div class="success">
                <%= assertion.message %>
            </div>
        <% } else { %>
            <div class="error">
                <%= assertion.message %>
            </div>
        <% } %>
        
    <% } %>
<% } %>