

<div class="outer-box">
  <div class="outer-box-inset">
    
    <div class="inner-box">
      <div class="inner-box-inset">
        <ul class="tests">
        <% for (var i = 0, test; (test = test_results.output[i]) != null; i++) { %>

            <li class="header"><%= test.name %></li>

            <% for (var j = 0, assertion; (assertion = test.tests[j]) != null; j++) { %>

                <% if (assertion.result) { %>
                    <li class="passed"><%= assertion.message %></li>
                <% } else { %>
                    <li class="failed"><%= assertion.message %></li>
                <% } %>

            <% } %>
        <% } %>
        </ul>
      </div>
    </div>
    
  </div>
</div>
