<% if (error) { %>
  <div class="error" id="error"><%= error %></div>
<% } %>

<form action="/tests/" method="POST">.
  <fieldset>
    <legend>Add a new test</legend>
    <p>
      <label for="test-url">QUnit Index URL</label><br/>
      <input id="test-url" type="input" name="url" value="http://github.com/nko/team-discovery-channel"/>
    </p>

    <p>
      <input type="submit" value="Submit">
    </p>
  </fieldset>
</form>