<% if (url) { %>
<h2>Unit Tests for <i><%= url %></i> </h2>
    <% for (var i = 0, tests; (tests = testOutput[i]) != null; i++) { %>
    
        <h3><%= tests.name %></h3>
    
        <% for (var ii = 0, test; (test = tests.tests[ii]) != null; ii++) { %>
    
            <% if (test.result) { %>
                <div class="success">
                    <%= test.message %>
                </div>
            <% } else { %>
                <div class="error">
                    <%= test.message %>
                </div>
            <% } %>
            
        <% } %>
    <% } %>
<% } %>