<div class="outer-box">
  <div class="outer-box-inset">
    <div class="inner-box">
      <div class="inner-box-inset">
        <p>
          Congratulations. We've received your test.

          <div class="success"><%= test.url %></div>

        </p>
        <form action="/tests/<%= id %>/run" method="POST">
          <a class="button" href="#" onclick="document.forms[0].submit()"></a>
          <input type="submit" style="display: none" value="Run Test"/><!-- allows enter to submit form -->
        </form>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>

<% for (var i = 0; i < test_results.rows.length; i++) { %>
<% test = test_results.rows[i].value %>

<div class="outer-box">
  <div class="outer-box-inset">
    <div class="header">
      <a class="toggle-open" href="#"></a>
      <div class="title">c3dd5f... <%= test.date %></div>
      <div class="score"> 80 / 84</div>
    </div>
  </div>
</div>
<% } %>